@font-face { 
    font-family: "Inter";
    src: url('../fonts/inter/static/Inter-Regular.ttf') format("truetype");
    font-weight: 400;
}

@font-face { 
    font-family: "Inter";
    src: url('../fonts/inter/static/Inter-Medium.ttf') format("truetype");
    font-weight: 500;
}

@font-face { 
    font-family: "Inter";
    src: url('../fonts/inter/static/Inter-SemiBold.ttf') format("truetype");
    font-weight: 600;
}

@font-face { 
    font-family: "Inter";
    src: url('../fonts/inter/static/Inter-Bold.ttf') format("truetype");
    font-weight: 700;
}

@font-face { 
    font-family: "Poppins";
    src: url('../fonts/Poppins/Poppins-LightItalic.ttf') format("truetype");
    font-weight: 300;
    font-style: italic;
}
